@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*{
	font-family: 'Courier Prime', sans-serif;
	color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100%;
	background-color: rgb(35, 39, 42);
}
#titleBar {
	border-bottom: rgb(255, 255, 255) solid 1px;
}
#titleBar h1 {
	flex-grow: 0;
	padding-top: 20px;
	padding-left: 31.5%;
}

#mainArea {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#mainArea h3 {
	font-size: 24px;
}
#mainArea canvas {
	border: 1px solid rgb(255, 255, 255);
}